# --- Sécurité ---
.env
.env.local
.DS_Store

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Environnements virtuels ---
venv/
.venv/
env/

# --- IDE (optionnel mais recommandé) ---
.vscode/
.idea/

# --- Dossier Document clients & prompts ----
documents_types/
prompts/

# --- Sauvegarde locale du RAG ----
*.pkl

# --- Tests ---
.pytest_cache/
htmlcov/
.coverage
*.pyc
__pycache__/

# --- Logs ---
*.log



